---
layout: default
pagination:
  data: collections.folders
  size: 1
  alias: folder
permalink: "{{ folder.path }}"
---

{% include 'folders.njk' %}

<h1>{{ folder.name }}</h1>

<section class="gallery">
  {% for image in folder.images %}
    {% include 'image.njk' %}
  {% endfor %}
</section>