---
layout: default
pagination:
  data: imagesCollection
  size: 200
  reverse: true
permalink: "{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% include 'folders.njk' %}

{% include 'pagination.njk' %}

<section class="gallery">
<!-- Display Images -->
{% for image in pagination.items %}
  
  {% include 'image.njk' %}

{% endfor %}
</section>

{% include 'pagination.njk' %}
