<!DOCTYPE html>
<html lang="{{ settings.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ settings.title }} | {{ settings.author }}</title>
  <!-- Add your CSS links here -->
  <link rel="stylesheet" href="/assets/styles.css" />
  <script src="/assets/scripts.js"></script>
</head>
<body>
  {{content}}
</body>
</html>