<nav class="folders">
    <ul>
        <li><a href="{{ settings.baseurl }}">Accueil</a></li>
    {% for folder in collections.folders %}
        <li><a href="{{ folder.path | absoluteUrl }}" {% if page.url + "index.html" == folder.path %} aria-current="page"{% endif %}>{{ folder.name }}</a></li>
    {% endfor %}
    <ul>
</nav>