<figure id="{{ image.id }}">

    {# Lien ancre vers cette image #}
    <a class="image-anchor" href="{{ page.url | absoluteUrl }}#{{ image.id }}" onclick="copyURI(event)">copier le lien 🔗</a>

    {# Image avec lien vers sa page spécifique #}
    <a href="{{ image.path | absoluteUrl }}" target="_blank">
      <img loading="lazy" src="{{ image.path | absoluteUrl }}" alt="{{ image.filename }}">
    </a>
    
    {# Description inscrite dans les métadonnées de l'image #}
    {% if image.exif.description %}
    <figcaption>{{ image.exif.description }}</figcaption>
    {% endif %}

    {# Mots clefs de l'image #}
    {% if image.exif.Keywords %}
    <ul class="tags">
      {% for keyword in image.exif.Keywords.split(',') %}
        {% set trimmedKeyword = keyword.trim() %}
        <li><a href="/tag/{{ trimmedKeyword | slug }}">{{ trimmedKeyword }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

</figure>