html { 
    scroll-behavior: smooth;
    background: #f9f9f9;
}
nav ol, nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
nav ol li, nav ul li {
    margin: 0 .2rem;
}
[aria-current] {
	background-color: lightblue !important;
}
/* https://webkit.org/demos/grid3/photos/
experience avec masonry (tag exprimental sur firefox) */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: masonry;
    gap: 1rem;

    /* max-width: 600px; */
    margin: 0 auto;
}
.gallery figure, .gallery figure img {
    max-width: 100%;
}
.gallery figure {
    /* padding-bottom: 3rem; */
    /* margin-bottom: 3rem; */
    margin: 0;
    text-align: center;
    position: relative;
    scroll-padding-top: 5rem;
}
.gallery figure a:not(.image-anchor) {
    display: block;
}
.gallery figure img {
    border-radius: 10px;
}
.gallery .image-anchor {
    position: absolute;
    right: 0;
    bottom: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    /* font-size: 1.5em; */
    opacity: 0;
    background: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* width: 3rem; */
}
.gallery figure:hover .image-anchor {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.gallery ul.tags {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery .tags li {
    list-style: none;
    background: lightgrey;
    border-radius: 50px;
    margin: 3px;
    padding: .2rem .5rem;
}
.gallery .tags li a {
    color: saltgrey;
    text-decoration: none;
}

nav.folders li a{
    display: block;
    background: lightgray;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 2px;
    text-decoration: none;
    color: black;
}